/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  margin: 0; /* Remover margem padrão */
  padding: 0; /* Remover padding padrão */
}

/* Definindo o estilo para a navbar */
.navbar {
  padding: 0.8rem;
}

/* Ajustando a posição dos botões na navbar para a direita */
.navbar-nav {
  margin-left: auto;
}

/* Estilo para as seções de conteúdo */
.content-section {
  display: none;  /* As seções começam escondidas */
  margin-top: 20px;
  width: 100%;    /* Ocupa toda a largura disponível */
}

/* Estilo para os formulários */
.form-control {
  margin-bottom: 10px;
}

button[type="submit"] {
  margin-top: 10px;
}

/* Ajustando as cores dos botões */
.btn-primary {
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-primary:hover {
  background-color: #004085;
  border-color: #004085;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

/* Ajustes para a container */
.container {
  margin-top: 20px;
  padding-left: 0;  /* Remover margem interna do container */
  padding-right: 0; /* Remover margem interna do container */
  margin-left: 0;
}

/* Alinhamento à esquerda sem margens extras */
.content-section {
  max-width: 100%;  /* Faz com que o conteúdo ocupe toda a largura da tela */
  margin-left: 0;   /* Remove margem à esquerda */
  margin-right: 0;  /* Remove margem à direita */
  padding-left: 15px; /* Pequeno espaçamento à esquerda */
  padding-right: 15px; /* Pequeno espaçamento à direita */
}

/* Responsividade: os formulários ocuparão 100% da largura em dispositivos pequenos */
@media (max-width: 768px) {
  .content-section {
    width: 100%; /* Ocupa toda a largura em telas menores */
  }
}
